.pf1.sheet {
  .action.roll {
    img {
      width: 24px;
      height: 24px;
      border: unset;
    }

    img:hover {
      animation: dice-spin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 1 forwards;
      transform-origin: 50% 40%;
      filter: @filterAuburn;
    }
  }
}
