<div class="inventory-filters spellbook-configuration">
  <div class="spell-summary">
    <table class="spellcasting-summary">
      <thead>
        <tr>
          <th class="spellcasting-concentration rollable tooltip" data-drag="concentration">
            <i class="fas fa-dice"></i> {{localize "PF1.Concentration"}}
            <span class="tooltipcontent">
              @spells.{{bookId}}.concentration.total : {{spellbook.orig.concentration.total}}
              {{#with (lookup sourceDetails.system.attributes.spells.spellbooks bookId)}}
              {{#if concentration.total.length}}
              <br/><br/>{{localize "PF1.FromSources"}}:<br/>
              {{#each concentration.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
              {{/if}}
              {{/with}}
            </span>
          </th>
          <th class="spellcasting-cl rollable tooltip" data-drag="cl">
            <i class="fas fa-dice"></i> {{localize "PF1.CasterLevel"}}
            <span class="tooltipcontent">
              @spells.{{bookId}}.cl.total : {{spellbook.orig.cl.total}}
              {{#with (lookup sourceDetails.system.attributes.spells.spellbooks bookId)}}
              {{#if cl.total.length}}
              <br/><br/>{{localize "PF1.FromSources"}}:<br/>
              {{#each cl.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
              {{/if}}
              {{/with}}
            </span>
          </th>
          {{#if @root.asf}}
          <th class="arcane-spell-failure">
            {{localize "PF1.ArcaneSpellFailureAbbr"}}
          </th>
          {{/if}}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="spellcasting-concentration-total">{{numberFormat spellbook.orig.concentration.total sign=true decimals=0}}</td>
          <td class="spellcasting-casterlevel-total">{{numberFormat spellbook.orig.cl.total sign=true decimals=0}}</td>
          {{#if @root.asf}}
          <td class="arcane-spell-failure-total">{{@root.asf.total}}%</td>
          {{/if}}
        </tr>
      </tbody>
    </table>
    <table class="spell-range">
      <thead>
        <tr>
          <th class="tooltip">
            {{localize "PF1.DistClose"}}

            <div class="tooltipcontent">
              @spells.{{bookId}}.range.close : {{spellbook.orig.range.close}}
            </div>
          </th>
          <th class="tooltip">
            {{localize "PF1.DistMedium"}}

            <div class="tooltipcontent">
              @spells.{{bookId}}.range.medium : {{spellbook.orig.range.medium}}
            </div>
          </th>
          <th class="tooltip">
            {{localize "PF1.DistLong"}}

            <div class="tooltipcontent">
              @spells.{{bookId}}.range.long : {{spellbook.orig.range.long}}
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="range-close">{{spellbook.orig.range.close}}</td>
          <td class="range-medium">{{spellbook.orig.range.medium}}</td>
          <td class="range-long">{{spellbook.orig.range.long}}</td>
        </tr>
      </tbody>
    </table>
    <div class="spellcasting-config">
      <a class="hide-show" data-for="spellbook-info_{{bookId}}"><i class="fas fa-cogs"></i></a>
    </div>
  </div>

  <div class="hide spellbook-info_{{bookId}} {{#if (lookup hiddenElems (concat "spellbook-info_" bookId))}}hidden{{/if}}">
    <div class="spellbook-info">
    <h3>{{localize "PF1.Concentration"}}</h3>
    <h3>{{localize "PF1.CasterLevel"}}</h3>
    <div class="flexrow spellcasting-bonus-formulas">
      <h3>{{localize "PF1.BonusFormula"}}</h3>
      <input class="formula" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.concentrationFormula"
      value="{{spellbook.orig.concentrationFormula}}" placeholder="{{localize "PF1.ConcentrationBonusFormula"}}" />
    </div>
    <div class="flexrow spellcasting-bonus-formulas">
      <h3>{{localize "PF1.BonusFormula"}}</h3>
      <input class="formula" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.cl.formula"
      value="{{spellbook.orig.cl.formula}}" placeholder="{{localize "PF1.CasterLevelBonusFormula"}}" />
    </div>
    {{! Notes }}
    <div class="flexrow spellcasting-notes">
      <textarea name="system.attributes.spells.spellbooks.{{bookId}}.concentrationNotes" placeholder="{{localize "PF1.ConcentrationNotes"}}">{{spellbook.orig.concentrationNotes}}</textarea>
    </div>
    <div class="flexrow spellcasting-notes">
      <textarea name="system.attributes.spells.spellbooks.{{bookId}}.clNotes" placeholder="{{localize "PF1.CasterLevelNotes"}}">{{spellbook.orig.clNotes}}</textarea>
    </div>

    <div class="spell-settings">
        <div class="form-group spellcasting-class tooltip">
          <div class="tooltipcontent">
            @cl : {{spellbook.orig.cl.total}}<br>
            @spells.{{bookId}}.cl.total : {{spellbook.orig.cl.total}}<br>
            {{#if spellbook.class}}
            @classLevel : {{spellbook.class.level}}<br>
            {{/if}}

            {{#with (lookup sourceDetails.system.attributes.spells.spellbooks bookId)}}
            {{#if cl.total.length}}
            <br/>{{localize "PF1.FromSources"}}:<br/>
            {{#each cl.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
            {{/if}}
            {{/with}}
          </div>
          <h3>{{localize "PF1.SpellcastingClass"}}</h3>
          <select name="system.attributes.spells.spellbooks.{{bookId}}.class" data-dtype="String">
            {{#select spellbook.orig.class}}
            <option value="">{{localize "PF1.None"}}</option>
            <option value="_hd">{{localize "PF1.HitDie"}}</option>
            {{#each @root.classes as |cls|}}
            <option value="{{cls.tag}}">{{cls.name}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>

        <div class="form-group spellcasting-ability">
          <h3>{{localize "PF1.SpellcastingAbility"}}</h3>
          <select name="system.attributes.spells.spellbooks.{{bookId}}.ability" data-dtype="String" data-tooltip="@ablMod : {{rollData.abilityMod}}<br>@spells.{{bookId}}.abilityMod : {{rollData.abilityMod}}<br>">
            {{#select spellbook.orig.ability}}
            <option value="">{{localize "PF1.None"}}</option>
            {{#each @root.system.abilities as |abl a|}}
            <option value="{{a}}">{{abl.label}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>

        <div class="flexrow formulas">
          <h3>{{localize "PF1.BaseDCFormula"}}</h3>
          <input class="formula" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.baseDCFormula"
          value="{{spellbook.orig.baseDCFormula}}" placeholder="{{localize "PF1.BaseDCFormula"}}" />
        </div>

        <div class="flexrow spell-slot-ability-bonus">
          <h3>{{localize "PF1.SpellSlotAbilityBonus"}}</h3>
          <input class="formula" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spellSlotAbilityBonusFormula"
                             value="{{spellbook.orig.spellSlotAbilityBonusFormula}}" placeholder="{{localize "PF1.Formula"}}" />
        </div>

        <div class="flexrow alt-name">
          <h3>{{localize "PF1.SpellbookName"}}</h3>
          <input type="text" name="system.attributes.spells.spellbooks.{{bookId}}.name"
            value="{{spellbook.orig.name}}" placeholder="{{spellbook.orig.label}}" />
        </div>

        <div class="flexrow domain-slot-value">
          <h3>{{localize "PF1.DomainSlotValue"}}</h3>
          <input type="text" name="system.attributes.spells.spellbooks.{{bookId}}.domainSlotValue"
            value="{{spellbook.orig.domainSlotValue}}" data-tooltip="PF1.DomainSlotValueDesc" placeholder="0" data-dtype="Number" />
        </div>

        {{#if spellbook.orig.spellPoints.useSystem}}
        <div class="flexrow spell-points">
          <h3>{{localize "PF1.SpellPoints"}}</h3>
          <input class="formula" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spellPoints.maxFormula"
          value="{{spellbook.orig.spellPoints.maxFormula}}" placeholder="{{localize "PF1.MaxFormula"}}" data-tooltip="PF1.MaxFormula"/>
        </div>
        <div class="flexrow spell-points-rest">
          <h3>└ {{localize "PF1.RestoredOnRest"}}</h3>
          <input class="formula" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spellPoints.restoreFormula"
          value="{{spellbook.orig.spellPoints.restoreFormula}}" placeholder="{{localize "PF1.SpellPointsMax"}}" data-tooltip="PF1.Formula"/>
        </div>
        {{/if}}

        {{#if spellbook.orig.autoSpellLevelCalculation}}
        <div class="help-text">
        <i class="help-icon fas fa-info-circle"></i> {{localize "PF1.AutoSpellClassLevelOffset.InfoBox"}}
        </div>
        <div class="flexrow">
          <h3>{{localize "PF1.AutoSpellClassLevelOffset.Formula"}}</h3>
          <input class="formula" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.cl.autoSpellLevelCalculationFormula"
            value="{{spellbook.orig.cl.autoSpellLevelCalculationFormula}}" placeholder="{{localize "PF1.Formula"}}" />
        </div>
        {{/if}}
    </div>

    <div class="spell-settings">
        <label class="checkbox">
          <input type="checkbox" name="system.attributes.spells.spellbooks.{{bookId}}.arcaneSpellFailure"
          {{checked spellbook.orig.arcaneSpellFailure}}/> {{localize "PF1.ArcaneSpellFailure"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="system.attributes.spells.spellbooks.{{bookId}}.autoSpellLevelCalculation"
          {{checked spellbook.orig.autoSpellLevelCalculation}}/> {{localize "PF1.AutoCalculateSpellSlots"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="system.attributes.spells.spellbooks.{{bookId}}.psychic"
          {{checked spellbook.orig.psychic}}/> {{localize "PF1.Psychic"}}
        </label>
        {{#unless spellbook.orig.autoSpellLevelCalculation}}
        <label class="checkbox">
          <input type="checkbox" name="system.attributes.spells.spellbooks.{{bookId}}.spontaneous"
          {{checked spellbook.orig.spontaneous}}/> {{localize "PF1.SpellPrepSpontaneous"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="system.attributes.spells.spellbooks.{{bookId}}.autoSpellLevels"
          {{checked spellbook.orig.autoSpellLevels}}/> {{localize "PF1.AutomaticSpellSlots"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="system.attributes.spells.spellbooks.{{bookId}}.spellPoints.useSystem"
          {{checked spellbook.orig.spellPoints.useSystem}}/> {{localize "PF1.UseSpellPoints"}}
        </label>
        {{/unless}}
        <label class="checkbox">
          <input type="checkbox" name="system.attributes.spells.spellbooks.{{bookId}}.hasCantrips"
          {{checked spellbook.orig.hasCantrips}}/> {{localize "PF1.HasCantrips"}}
        </label>
        {{#if spellbook.orig.autoSpellLevelCalculation}}
        <div class="radios">
          <label class="checkbox">
            <input type="radio" name="system.attributes.spells.spellbooks.{{bookId}}.spellPreparationMode" value="prepared" {{checked (eq spellbook.orig.spellPreparationMode "prepared")}} />
            {{localize "PF1.SpellPrepPrepared"}}
          </label>
          <label class="checkbox">
            <input type="radio" name="system.attributes.spells.spellbooks.{{bookId}}.spellPreparationMode" value="spontaneous" {{checked (eq spellbook.orig.spellPreparationMode "spontaneous")}} />
            {{localize "PF1.SpellPrepSpontaneous"}}
          </label>
          <label class="checkbox">
            <input type="radio" name="system.attributes.spells.spellbooks.{{bookId}}.spellPreparationMode" value="hybrid" {{checked (eq spellbook.orig.spellPreparationMode "hybrid")}} />
            {{localize "PF1.Arcanist"}}
          </label>
          <label class="checkbox">
            <input type="radio" name="system.attributes.spells.spellbooks.{{bookId}}.spellPreparationMode" value="prestige" {{checked (eq spellbook.orig.spellPreparationMode "prestige")}} />
            {{localize "PF1.RedMantisAssassin"}}
          </label>
        </div>
        {{#unless (or (eq spellbook.orig.spellPreparationMode "hybrid") (eq spellbook.orig.spellPreparationMode "prestige"))}}
        <div class="radios">
          <label class="checkbox" data-tooltip="PF1.Spellcasting.Progression.LowHint">
            <input type="radio" name="system.attributes.spells.spellbooks.{{bookId}}.casterType" value="low" {{checked (eq spellbook.orig.casterType "low")}} />
            {{localize "PF1.Low"}}
          </label>
          <label class="checkbox" data-tooltip="PF1.Spellcasting.Progression.MediumHint">
            <input type="radio" name="system.attributes.spells.spellbooks.{{bookId}}.casterType" value="med" {{checked (eq spellbook.orig.casterType "med")}} />
            {{localize "PF1.Medium"}}
          </label>
          <label class="checkbox" data-tooltip="PF1.Spellcasting.Progression.HighHint">
            <input type="radio" name="system.attributes.spells.spellbooks.{{bookId}}.casterType" value="high" {{checked (eq spellbook.orig.casterType "high")}} />
            {{localize "PF1.High"}}
          </label>
        </div>
        {{/unless}}

        <section class="spell-level-mod-container {{#if (eq spellbook.orig.spellPreparationMode "prepared")}}hide-cpd{{/if}}">
          <h3>{{localize "PF1.Modifications"}}</h3>
          <div class="spell-mod-formulas">
            <h3 class="ppdoffset">
              {{#if (or (eq spellbook.orig.spellPreparationMode "spontaneous") (eq spellbook.orig.spellPreparationMode "prestige"))}}{{localize "PF1.SpellsKnown"}}{{else}}{{localize "PF1.PreparePerDay"}}{{/if}}
            </h3>
            <h3 class="cpdoffset">{{localize "PF1.CastPerDay"}}</h3>
          </div>

          <h3>{{localize "PF1.All"}}</h3>
          <div class="spell-mod-formulas">
            <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.preparedAllOffsetFormula" value="{{spellbook.orig.preparedAllOffsetFormula}}" placeholder="{{localize "PF1.Formula"}}" />
            <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.castPerDayAllOffsetFormula" value="{{spellbook.orig.castPerDayAllOffsetFormula}}" placeholder="{{localize "PF1.Formula"}}" />
          </div>

          {{#if spellbook.orig.hasCantrips}}
          <h3>{{localize "PF1.SpellLevel0"}}</h3>
          <div class="spell-mod-formulas">
            <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell0.preparedOffsetFormula" value="{{spellbook.orig.spells.spell0.preparedOffsetFormula}}" placeholder="{{localize "PF1.Formula"}}" />
            <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell0.castPerDayOffsetFormula" value="{{spellbook.orig.spells.spell0.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.Formula"}}" />
          </div>
          {{/if}}

          <h3>{{localize "PF1.SpellLevel1"}}</h3>
          <div class="spell-mod-formulas">
            <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell1.preparedOffsetFormula" value="{{spellbook.orig.spells.spell1.preparedOffsetFormula}}" placeholder="{{localize "PF1.Formula"}}" />
            <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell1.castPerDayOffsetFormula" value="{{spellbook.orig.spells.spell1.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.Formula"}}" />
          </div>

          <h3>{{localize "PF1.SpellLevel2"}}</h3>
          <div class="spell-mod-formulas">
            <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell2.preparedOffsetFormula" value="{{spellbook.orig.spells.spell2.preparedOffsetFormula}}" placeholder="{{localize "PF1.Formula"}}" />
            <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell2.castPerDayOffsetFormula" value="{{spellbook.orig.spells.spell2.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.Formula"}}" />
          </div>

          <h3>{{localize "PF1.SpellLevel3"}}</h3>
          <div class="spell-mod-formulas">
            <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell3.preparedOffsetFormula" value="{{spellbook.orig.spells.spell3.preparedOffsetFormula}}" placeholder="{{localize "PF1.Formula"}}" />
            <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell3.castPerDayOffsetFormula" value="{{spellbook.orig.spells.spell3.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.Formula"}}" />
          </div>

          <h3>{{localize "PF1.SpellLevel4"}}</h3>
          <div class="spell-mod-formulas">
            <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell4.preparedOffsetFormula" value="{{spellbook.orig.spells.spell4.preparedOffsetFormula}}" placeholder="{{localize "PF1.Formula"}}" />
            <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell4.castPerDayOffsetFormula" value="{{spellbook.orig.spells.spell4.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.Formula"}}" />
          </div>

          {{#if (or (eq spellbook.orig.casterType "med") (eq spellbook.orig.casterType "high"))}}
          <h3>{{localize "PF1.SpellLevel5"}}</h3>
          <div class="spell-mod-formulas">
            <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell5.preparedOffsetFormula" value="{{spellbook.orig.spells.spell5.preparedOffsetFormula}}" placeholder="{{localize "PF1.Formula"}}" />
            <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell5.castPerDayOffsetFormula" value="{{spellbook.orig.spells.spell5.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.Formula"}}" />
          </div>

          <h3>{{localize "PF1.SpellLevel6"}}</h3>
          <div class="spell-mod-formulas">
            <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell6.preparedOffsetFormula" value="{{spellbook.orig.spells.spell6.preparedOffsetFormula}}" placeholder="{{localize "PF1.Formula"}}" />
            <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell6.castPerDayOffsetFormula" value="{{spellbook.orig.spells.spell6.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.Formula"}}" />
          </div>
          {{/if}}

          {{#if (eq spellbook.orig.casterType "high")}}
          <h3>{{localize "PF1.SpellLevel7"}}</h3>
          <div class="spell-mod-formulas">
            <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell7.preparedOffsetFormula" value="{{spellbook.orig.spells.spell7.preparedOffsetFormula}}" placeholder="{{localize "PF1.Formula"}}" />
            <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell7.castPerDayOffsetFormula" value="{{spellbook.orig.spells.spell7.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.Formula"}}" />
          </div>

          <h3>{{localize "PF1.SpellLevel8"}}</h3>
          <div class="spell-mod-formulas">
            <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell8.preparedOffsetFormula" value="{{spellbook.orig.spells.spell8.preparedOffsetFormula}}" placeholder="{{localize "PF1.Formula"}}" />
            <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell8.castPerDayOffsetFormula" value="{{spellbook.orig.spells.spell8.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.Formula"}}" />
          </div>

          <h3>{{localize "PF1.SpellLevel9"}}</h3>
          <div class="spell-mod-formulas">
            <input class="formula ppdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell9.preparedOffsetFormula" value="{{spellbook.orig.spells.spell9.preparedOffsetFormula}}" placeholder="{{localize "PF1.Formula"}}" />
            <input class="formula cpdoffset" type="text" name="system.attributes.spells.spellbooks.{{bookId}}.spells.spell9.castPerDayOffsetFormula" value="{{spellbook.orig.spells.spell9.castPerDayOffsetFormula}}" placeholder="{{localize "PF1.Formula"}}" />
          </div>
          {{/if}}

        </section>
        {{/if}}
      </div>
    </div>
  </div>
</div>

{{!-- Spellbook Navigation --}}
<div class="inventory-filters flexrow">
  {{~> "systems/pf1/templates/internal/item-search.hbs" category=(concat "spells-" bookId)}}

  <ul class="filter-list flexrow" data-filter="spellbook-{{bookId}}">
    {{#each spellbook.data as |section sid|}}
    <li class="filter-item" data-filter="type-{{sid}}">{{section.label}}</li>
    {{/each}}
  </ul>
</div>

<div class="spell-points-current">
  {{#if spellbook.orig.spellPoints.useSystem}}
  <h3>{{localize "PF1.SpellPoints"}}</h3>
  <div class="tooltip value">
    <span class="tooltipcontent">
      {{localize "PF1.SpellPointsCurrent"}}<br><br>

      @spells.{{bookId}}.spellPoints.value : {{spellbook.orig.spellPoints.value}}
    </span>

    <span class="text-box" name="system.attributes.spells.spellbooks.{{bookId}}.spellPoints.value"
    data-dtype="Number">{{spellbook.orig.spellPoints.value}}</span>
  </div>
  <span class="sep"> / </span>
  <div class="tooltip max">
    <span class="tooltipcontent">
      {{localize "PF1.SpellPointsMax"}}<br><br>

      @spells.{{bookId}}.spellPoints.max : {{spellbook.orig.spellPoints.max}}
    </span>

    <span class="text-box">{{spellbook.orig.spellPoints.max}}</span>
  </div>
  {{/if}}
</div>

<div class="inventory-group spellbook-body book-{{bookId}}-body flexcol">
  <ol class="inventory-list">
    {{#each spellbook.data as |section sid|}}
    {{#unless section._hidden}}
    <ol class="item-list" data-type="spell" data-level="{{section.level}}" data-preparation-unused="{{section.preparation.unused}}" {{#if ../spellbook.orig.spontaneous}}data-known-unused="{{section.known.unused}}"{{/if}}>
      <li class="flexrow inventory-header spellbook-header {{#if section.lowAbilityScore}}insufficient-ability-score{{/if}}" data-level="{{section.level}}">
        <div class="item-name flexrow">
          <h3>{{section.name}}</h3>
        </div>

        {{#unless ../spellbook.orig.spellPoints.useSystem}}
        <div class="item-detail spell-uses">
          {{#if section.usesSlots}}
          {{#unless (and (eq section.level 0) ../spellbook.orig.autoSpellLevelCalculation)}}
          <div class="tooltip spell-slots{{#if ../spellbook.orig.spontaneous}} spontaneous{{/if}}">
            <span class="{{#unless ../spellbook.orig.spontaneous}}spell-input-readonly{{else}}text-box{{/unless}}" data-dtype="Number" {{#if ../spellbook.orig.spontaneous}}name="system.attributes.spells.spellbooks.{{../bookId}}.spells.spell{{section.level}}.value"{{/if}}>
              {{section.uses}}
            </span>
            <span class="tooltipcontent">
              {{#unless ../spellbook.orig.spontaneous}}
              {{localize "PF1.LeftToPrepare"}}
              {{else}}
              {{localize "PF1.CastsLeft"}}
              {{/unless}}
            </span>
          </div>
          <span class="sep"> / </span>
          {{/unless}}
          <div class="spell-max" data-tooltip="PF1.SpellsTotalEachDay">
            <span class="{{#if ../spellbook.orig.autoSpellLevelCalculation}}spell-input-readonly{{else}}text-box{{/if}}" data-dtype="Number" name="system.attributes.spells.spellbooks.{{../bookId}}.spells.spell{{section.level}}.base">{{section.slots}}</span>
          </div>
          {{ else }}
          <span class="spell-slots">{{{section.uses}}}</span>
          <span class="sep"> / </span>
          <span class="spell-max">{{{section.slots}}}</span>
          {{/if}}
        </div>
        {{/unless}}

        <div class="item-detail item-actions"><i class="icon icon-gears large" data-tooltip="PF1.ActionPlural"></i></div>

        <div class="item-detail spell-activation"><i class="icon icon-hand large" data-tooltip="PF1.Usage"></i></div>

        <div class="item-detail spell-components"><i class="icon icon-expense large" data-tooltip="PF1.Components"></i></div>

        <div class="item-detail spell-school"><i class="icon icon-spell-book large" data-tooltip="PF1.SpellSchool"></i></div>

        <div class="item-controls">
          {{#if section.canCreate}}
          <a class="item-control item-create" data-tooltip="PF1.CreateItem" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
            <i class="fas fa-plus"></i>
          </a>
          {{/if}}
          <a data-action="compendium" data-action-target="spells" data-tooltip="PF1.OpenCompendium"><i class="fas fa-folder-plus"></i></a>
        </div>
      </li>

      {{#each section.items as |item i|}}
      <li class="item flexrow {{#if item.document.canCast}}prepared{{else}}unprepared{{/if}} {{#if item.domain}}domain{{/if}}" data-item-id="{{item.id}}">
        <div class="item-name flexrow rollable">
          <div class="item-image" style='background-image: url("{{item.img}}")' data-tooltip="PF1.DisplayInChat"></div>
          <h4>{{item.name}}</h4>
        </div>

        <div class="item-detail spell-uses flexrow">
          {{#unless item.atWill}}
          {{!-- Domain Marker --}}
          <div>
            {{#if item.domain}}
            <i class="fas fa-hand-sparkles spell-icon domain" data-tooltip="{{localize "PF1.Domain"}}/{{localize "PF1.School"}}"></i>
            {{/if}}
          </div>

          {{#unless ../../spellbook.orig.spontaneous}}
          <div class="tooltip">
            <span class="tooltipcontent">
              {{localize "PF1.Prepared"}}
            </span>
            <span class="text-box" data-type="amount" data-dtype="Number">{{item.preparation.preparedAmount}}</span>
          </div>
          <span class="sep"> / </span>
          <div class="tooltip">
            <span class="tooltipcontent">
              {{localize "PF1.InitiallyPrepared"}}
            </span>
            <span class="text-box" data-type="max" data-dtype="Number">{{item.preparation.maxAmount}}</span>
          </div>
          {{else}}
          <a class="item-control item-toggle-data {{#if item.preparation.spontaneousPrepared}}enabled{{/if}}" data-name="system.preparation.spontaneousPrepared"
            data-tooltip="{{#if item.preparation.spontaneousPrepared}}PF1.Prepared{{else}}PF1.Unprepared{{/if}}">
            <i class="fas fa-cog spell-icon prepared"></i>
          </a>
          {{/unless}}
          {{else}}
          {{localize "PF1.SpellPrepAtWill"}}
          {{/unless}}
        </div>

        <div class="item-detail item-actions">
          <div class="item-action tooltip">
            <span class="tooltipcontent">
              {{localize "PF1.UseSpell"}}<br/>
              {{#if labels.range}}{{labels.range}}<br>{{/if}}
              {{#if labels.save}}{{labels.save}}<br/>{{/if}}
            </span>
            <a class="item-control item-action action roll">
              <img src="icons/dice/d20black.svg">
            </a>
          </div>
        </div>

        <div class="item-detail spell-activation"><span>{{labels.activation}}</span></div>

        <div class="item-detail spell-components tooltip">
          {{#if (or system.materials.value system.materials.focus)}}
          <span class="tooltipcontent">
            {{#if system.materials.focus}}{{localize "PF1.SpellComponentFocus"}}: {{system.materials.focus}}<br/>{{/if}}
            {{#if system.materials.value}}{{localize "PF1.SpellComponentMaterial"}}: {{system.materials.value}}<br/>{{/if}}
          </span>
          {{/if}}
          <span>{{labels.components}}</span>
        </div>

        <div class="item-detail spell-school tooltip">
          {{#if (or system.subschool system.types labels.damageTypes)}}
          <span class="tooltipcontent">
              {{#if system.subschool}}{{localize "PF1.SubSchool"}}: {{system.subschool}}<br/>{{/if}}
              {{#if system.types}}{{localize "PF1.TypePlural"}}: {{system.types}}<br/>{{/if}}
              {{#if labels.damageTypes}}{{localize "PF1.Damage"}}: {{labels.damageTypes}}<br/>{{/if}}
          </span>
          {{/if}}
          <span>{{labels.school}}</span>
        </div>

        {{#if @root.owner}}
        <div class="item-controls">
          <a class="item-control item-edit" data-tooltip="PF1.EditItem"><i class="fas fa-edit"></i></a>
          <a class="item-control item-duplicate" data-tooltip="PF1.DuplicateItem"><i class="fas fa-copy"></i></a>
          <a class="item-control item-delete" data-tooltip="PF1.DeleteItem"><i class="fas fa-trash"></i></a>
        </div>
        {{/if}}
      </li>
      {{/each}}

      {{#if section.lowAbilityScore}}
        <h4 class="spell-level-message">{{localize "PF1.SpellScoreTooLow"}}</h4>
      {{/if}}
      {{#if section.spellMessage}}
        <h4 class="spell-level-message">{{section.spellMessage}}</h4>
      {{/if}}
    </ol>
    {{/unless}}
    {{/each}}
  </ol>
</div>
