{{!-- Buffs --}}
<div class="flexrow buffs-conditions">
  {{#each config.conditions as |value con|}}
  <div class="condition">
    <a class="checkbox {{#if (lookup ../system.attributes.conditions con)}}active{{/if}}" name="system.attributes.conditions.{{con}}">
      <img src="{{lookup ../config.conditionTextures con}}" width="32" height="32">
      {{!--  <input type="checkbox" name="system.attributes.conditions.{{con}}" {{checked (lookup ../system.attributes.conditions con)}}/>  --}}
      <span>{{lookup ../config.conditions con}}</span>
    </a>
  </div>
  {{/each}}
</div>

<hr>
<div class="inventory-filters flexrow">
  {{~> "systems/pf1/templates/internal/item-search.hbs" category="buffs"}}

  <ul class="filter-list flexrow" data-filter="buffs">
    {{#each sections as |section sid|}}
    <li class="filter-item" data-filter="type-{{sid}}">{{section.label}}</li>
    {{/each}}
  </ul>
</div>

<section class="buffs-body">
  <div class="inventory-group flexcol">
    <ol class="inventory-list" data-type="buff">
      {{#each sections as |section sid|}}
      {{#unless section._hidden}}
      <ol class="item-list" data-type="buff" data-subtype="{{sid}}">
        <li class="inventory-header flexrow buffs-{{sid}}">
          <h3 class="item-name flexrow">{{section.label}}</h3>

          <div class="item-detail item-duration">
            <span>{{localize "PF1.Duration"}}</span>
          </div>

          <div class="item-detail item-level">
            <span>{{localize "PF1.Level"}}</span>
          </div>

          {{#if section.hasActions}}
          <div class="item-detail item-actions">
            <i class="icon icon-gears large" title="{{localize "PF1.ActionPlural"}}"></i>
          </div>
          {{/if}}

          <div class="item-detail item-active">
            <span>{{localize "PF1.Active"}}</span>
          </div>

          {{#if ../owner}}
          <div class="item-controls">
            <a class="item-control item-create" data-tooltip="PF1.CreateItem" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
              <i class="fas fa-plus"></i> {{localize "PF1.Add"}}
            </a>
            <a data-action="compendium" data-action-target="buffs" data-tooltip="PF1.OpenCompendium"><i class="fas fa-folder-plus"></i></a>
          </div>
          {{/if}}
        </li>

        {{#each section.items as |item iid|}}
        <li class="item flexrow" data-item-id="{{item.id}}">
          <div class="item-name flexrow rollable">
              <div class="item-image" style='background-image: url("{{item.img}}")' data-tooltip="PF1.DisplayInChat"></div>
              <h4>{{item.name}}</h4>
          </div>

          <div class="item-detail item-duration">
              <span class="">{{#if item.labels.duration}}{{item.labels.duration}}{{/if}}</span>
          </div>

          <div class="item-detail item-level">
            <span class="text-box" data-dtype="Number">{{#if item.level}}{{item.level}}{{/if}}</span>
          </div>

          {{#if section.hasActions}}
          <div class="item-detail item-actions">
            <div class="item-attack tooltip">
              {{#if item.hasAction}}
              <span class="tooltipcontent">
                {{localize "PF1.UseItem"}}
              </span>
              <a class="item-control item-attack"><img class="icon" src="systems/pf1/icons/actions/gladius.svg"></a>
              {{/if}}
            </div>
          </div>
          {{/if}}

          <div class="item-detail item-active">
            <input type="checkbox" {{checked item.active}}/>
          </div>

          {{#if ../../owner}}
          <div class="item-controls">
            <a class="item-control item-edit" data-tooltip="PF1.EditItem"><i class="fas fa-edit"></i></a>
            <a class="item-control item-duplicate" data-tooltip="PF1.DuplicateItem"><i class="fas fa-copy"></i></a>
            <a class="item-control item-delete" data-tooltip="PF1.DeleteItem"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
        </li>
        {{/each}}
      </ol>
      {{/unless}}
      {{/each}}
    </ol>
  </div>
</section>
