{{!-- Ability Scores --}}
<div class="ability-scores">
    <table class="ability-table">
        <thead>
            <tr>
                <th>{{localize "PF1.Ability"}}</th>
                <th>{{localize "PF1.Total"}}</th>
                <th>{{localize "PF1.Modifier"}}</th>
                <th>{{localize "PF1.Damage"}}</th>
                <th>{{localize "PF1.Drain"}}</th>
                <th>{{localize "PF1.Penalty"}}</th>
            </tr>
        </thead>

        <tbody>
            {{#each system.abilities as |ability id|}}
            <tr class="ability" data-ability="{{id}}">
                {{!-- Ability name --}}
                <th class="tooltip">
                    <span class="tooltipcontent">
                        @abilities.{{id}}.total : {{ability.total}}<br/>
                        @abilities.{{id}}.value : {{ability.value}}<br/>
                        @abilities.{{id}}.mod : {{ability.mod}}<br/>
                        @abilities.{{id}}.damage : {{ability.damage}}<br/>
                        @abilities.{{id}}.drain : {{ability.drain}}<br/>
                        @abilities.{{id}}.penalty : {{ability.penalty}}<br/>
                        @abilities.{{id}}.base : {{ability.base}}<br/>
                        @abilities.{{id}}.baseMod : {{ability.baseMod}}<br/>

                        {{#if ability.sourceDetails.length}}
                        <br/>{{localize "PF1.FromSources"}} ({{localize "PF1.AbilityScore"}}):<br/>
                        {{#each ability.sourceDetails as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                        {{/if}}

                        {{#with (lookup ../sourceDetails.system.abilities id)}}
                        {{#if mod.length}}
                        <br/>{{localize "PF1.FromSources"}} ({{localize "PF1.Modifier"}}):<br/>
                        {{#each mod as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                        {{/if}}
                        {{/with}}

                        {{> "systems/pf1/templates/actors/parts/actor-contextNotes.hbs" target=(concat "abilityChecks." id)}}
                    </span>

                    <a class="ability-name rollable">
                        <i class="fas fa-dice"></i>
                        {{ability.label}}
                    </a>
                </th>

                {{!-- Total --}}
                <td>
                    <span class="text-box direct" name="system.abilities.{{id}}.value" data-dtype="String">{{ability.totalLabel}}</span>
                </td>

                {{!-- Modifier --}}
                <td>{{numberFormat ability.mod decimals=0 sign=true}}</td>

                {{!-- Damage --}}
                <td>
                    <span class="text-box direct allow-relative" name="system.abilities.{{id}}.damage" data-dtype="Number">{{#if ability.damage}}{{ability.damage}}{{/if}}</span>
                </td>

                {{!-- Drain --}}
                <td>
                    <span class="text-box direct allow-relative" name="system.abilities.{{id}}.drain" data-dtype="Number">{{#if ability.drain}}{{ability.drain}}{{/if}}</span>
                </td>

                {{!-- Penalty --}}
                <td>
                    <span class="text-box direct allow-relative" name="system.abilities.{{id}}.userPenalty" data-dtype="Number">{{#if ability.userPenalty}}{{ability.userPenalty}}{{/if}}</span>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <table>
        <thead>
            <th class="tooltip">
                {{localize "PF1.ACP"}}
                <div class="tooltipcontent">
                    @attributes.acp.total : {{system.attributes.acp.total}}<br>

                    {{#if sourceDetails.system.attributes.acp.total.length}}
                    <br/>{{localize "PF1.FromSources"}}:<br/>
                    {{#each sourceDetails.system.attributes.acp.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                    {{/if}}

                    {{#if sourceDetails.system.attributes.acp.armorBonus.length}}
                    <br/>{{localize "PF1.EquipTypeArmor"}}:<br/>
                    {{#each sourceDetails.system.attributes.acp.armorBonus as |src|}}{{src.name}}: {{numberFormat src.value decimals=0 sign=true}}<br/>{{/each}}
                    {{/if}}
                    {{#if sourceDetails.system.attributes.acp.shieldBonus.length}}
                    <br/>{{localize "PF1.EquipTypeShield"}}:<br/>
                    {{#each sourceDetails.system.attributes.acp.shieldBonus as |src|}}{{src.name}}: {{numberFormat src.value decimals=0 sign=true}}<br/>{{/each}}
                    {{/if}}
                </div>
            </th>
            <th class="tooltip">
                {{localize "PF1.MaxDexShort"}}
                <div class="tooltipcontent">
                    @attributes.maxDexBonus : {{system.attributes.maxDexBonus}}<br>

                    {{#if sourceDetails.system.attributes.maxDexBonus.length}}
                    <br/>{{localize "PF1.FromSources"}}:<br/>
                    {{#each sourceDetails.system.attributes.maxDexBonus as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                    {{/if}}

                    {{#if sourceDetails.system.attributes.mDex.armorBonus.length}}
                    <br/>{{localize "PF1.EquipTypeArmor"}}:<br/>
                    {{#each sourceDetails.system.attributes.mDex.armorBonus as |src|}}{{src.name}}: {{numberFormat src.value decimals=0 sign=true}}<br/>{{/each}}
                    {{/if}}
                    {{#if sourceDetails.system.attributes.mDex.shieldBonus.length}}
                    <br/>{{localize "PF1.EquipTypeShield"}}:<br/>
                    {{#each sourceDetails.system.attributes.mDex.shieldBonus as |src|}}{{src.name}}: {{numberFormat src.value decimals=0 sign=true}}<br/>{{/each}}
                    {{/if}}
                </div>
            </th>
            {{#if asf}}
            <th class="tooltip">
                {{localize "PF1.ArcaneSpellFailureAbbr"}}
                {{#if asf.sources.length}}
                <div class="tooltipcontent">
                    {{localize "PF1.FromSources"}}:<br/>
                    {{#each asf.sources}}
                    {{item.name}} : {{asf}}%<br>
                    {{/each}}
                </div>
                {{/if}}
            </th>
            {{/if}}
        </thead>

        <tbody>
            <td class="acp">{{system.attributes.acp.total}}</td>
            <td class="maxdex">{{system.attributes.maxDexBonus}}</td>
            {{#if asf}}
            <td class="asf">{{asf.total}}%</td>
            {{/if}}
        </tbody>
    </table>
</div>

{{!-- Traits --}}
{{> "systems/pf1/templates/actors/parts/actor-traits.hbs"}}
