<section class="inventory-body">
  {{#each sections as |section sid|}}
  <div class="inventory-group flexcol">
    <ol class="inventory-list">
      <li class="inventory-header flexrow">
        <h3 class="item-name flexrow">{{section.label}}</h3>

        {{#if section.hasActions}}<div class="item-detail item-actions"><i class="icon icon-gears large" data-tooltip="PF1.ActionPlural"></i></div>{{/if}}

        {{#if section.showValue}}
        <div class="item-detail item-value"><i class="icon icon-coins large" data-tooltip="PF1.Value"></i></div>
        {{/if}}
        <div class="item-detail item-weight"><i class="icon icon-weight large" src="systems/pf1/icons/actions/weight.svg" data-tooltip="PF1.ItemWeight"></i></div>
        {{#if ../isGM}}
        <div class="item-detail item-identified"><i class="icon icon-quill-ink large" data-tooltip="PF1.Identified"></i></div>
        {{/if}}
        <div class="item-detail item-uses"><i class="icon icon-battery-pack large" data-tooltip="PF1.ChargePlural"></i></div>

        {{#if ../owner}}
        <div class="item-controls">
          {{#if section.canCreate}}
          <a class="item-control item-create" data-tooltip="PF1.CreateItem" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
            <i class="fas fa-plus"></i> {{localize "PF1.Add"}}
          </a>
          <a data-action="compendium" data-action-target="items" data-tooltip="PF1.OpenCompendium"><i class="fas fa-folder-plus"></i></a>
          {{/if}}
        </div>
        {{/if}}
      </li>

      <ol class="item-list">
        {{#each section.items as |item iid|}}
        <li class="item flexrow {{#if item.empty}}empty-stack{{/if}}" data-item-id="{{item._id}}">
          <div class="item-name flexrow">
            <div class="item-image rollable" style='background-image: url("{{item.img}}")' data-tooltip="PF1.DisplayInChat"></div>
            <h4 class="rollable">
              {{~#if item.isStack}}({{item.system.quantity}}) {{/if}}
              {{item.name~}}
            </h4>
          </div>

          {{#if section.hasActions}}
          <div class="item-detail item-actions">
            <div class="item-action tooltip">
              {{#unless item.showUnidentifiedData}}
              {{#if item.hasAction}}
              <span class="tooltipcontent">
                {{localize "PF1.UseItem"}}
              </span>
              <a class="item-control item-action action roll">
                <img src="icons/dice/d20black.svg">
              </a>
              {{/if}}
              {{/unless}}
            </div>
          </div>
          {{/if}}

          {{#if section.showValue}}
          <div class="item-detail item-value">
            <span>{{item.price}} {{localize "PF1.CurrencyGP"}}</span>
          </div>
          {{/if}}

          <div class="item-detail item-weight">
            {{#if item.totalWeight}}
            <span>
              {{ item.totalWeight }} {{ item.units }}
            </span>
            {{/if}}
          </div>

          {{#if ../../isGM}}
          <div class="item-detail item-identified">
            <a class="item-control item-identify"><span>{{{item.labels.identified}}}</span></a>
          </div>
          {{/if}}

          <div class="item-detail item-uses flexrow {{#if (and @root.actor item.isCharged)}}tooltip{{/if}}">
            {{#if item.isCharged}}
            <input type="text" class="select-on-click" data-wheel-step="1" value="{{item.system.uses.value}}" data-dtype="Number"/>
            <span class="sep"> / </span>
            <input type="text" value="{{item.system.uses.max}}" disabled data-dtype="Number"/>
            {{#if @root.actor}}
            <span class="tooltipcontent">
              @resources.{{item.tag}}.value : {{item.system.uses.value}}<br>
              @resources.{{item.tag}}.max : {{item.system.uses.max}}
            </span>
            {{/if}}
            {{/if}}
          </div>

          {{#if ../../owner}}
          <div class="item-controls">
            <a class="item-control item-quantity-add"><i class="fas fa-plus"></i></a>
            <a class="item-control item-quantity-subtract"><i class="fas fa-minus"></i></a>
            <a class="item-control item-edit" data-tooltip="PF1.EditItem"><i class="fas fa-edit"></i></a>
            <a class="item-control item-duplicate" data-tooltip="PF1.DuplicateItem"><i class="fas fa-copy"></i></a>
            {{#if ../../owned}}<a class="item-control item-take" data-tooltip="PF1.ItemContainerTakeContents"><i class="fas fa-arrow-alt-circle-down"></i></a>{{/if}}
            <a class="item-control item-delete" data-tooltip="PF1.DeleteItem"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
        </li>
        {{/each}}
      </ol>
    </ol>
  </div>
  {{/each}}
</section>
